/* TODO: Learn how to use SASS to deduplicate css styles! */

.Green {
    background-color: lightgreen;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.Red {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.Yellow {
    background-color: yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.Gray {
    background-color: gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.Disabled {
    filter: opacity(.25);
}